name: Roo.cash e2e test

on:
  schedule:
    - cron: '0 13 * * *'
    - cron: '0 15 * * *'
  # push:
  #   branches:
  #     - master
  #     - release
  pull_request:
    branches:
      - release
      - master
    types: [opened, synchronize]

jobs:
  set_envs:
    runs-on: self-hosted
    outputs:
      GOGO_ENV: ${{ steps.set_env.outputs.GOGO_ENV }}
    steps:
      - uses: actions/checkout@v2
      - name: Set environment variables
        id: set_env
        run: |
          echo ${{ github.event.pull_request.base.ref }}
          if [[ github.event.pull_request.base.ref == 'release' ]]; then
            echo "GOGO_ENV=staging" >> "$GITHUB_OUTPUT"
            echo "stag"
          elif [[ github.event.pull_request.base.ref == 'master' ]]; then
            echo "GOGO_ENV=production" >> $GITHUB_OUTPUT
            echo "prod"
          else
            echo "dev"
          fi

  build:
    runs-on: self-hosted
    needs: set_envs
    steps:
      - uses: actions/checkout@v2
      - name: Build image
        env:
          GOGO_ENV: ${{needs.set_envs.outputs.GOGO_ENV}}
        run: |
          echo $GOGO_ENV

