name: Roo.cash e2e test

on:
  # schedule:
  #   - cron: '20 8 * * *'
  #   - cron: '25 8 * * *'
  # push:
  #   branches:
  #     - master
  #     - release
  pull_request:
    branches:
      - develop
      - release
      - master
    types: [opened, synchronize]

jobs:
  set_envs:
    runs-on: self-hosted
    outputs:
      GOGO_ENV: ${{ steps.set_env.outputs.GOGO_ENV }}
    steps:
      - uses: actions/checkout@v2
      - name: Set environment variables
        id: set_env
        run: |
          BASE_REF=${{ github.event.pull_request.base.ref }}
          BASE_REF=${BASE_REF:-default_value}
          echo BASE_REF
          echo $BASE_REF
          if [[ $BASE_REF == 'release' || '${{ github.event.schedule }}' == '20 8 * * *' ]]; then
            echo "GOGO_ENV=staging" >> "$GITHUB_OUTPUT"
          elif [[ $BASE_REF == 'master' || '${{ github.event.schedule }}' == '25 8 * * *' ]]; then
            echo "GOGO_ENV=production" >> "$GITHUB_OUTPUT"
          fi

  build:
    runs-on: self-hosted
    needs: set_envs
    steps:
      - uses: actions/checkout@v2
      - name: Build image
        env:
          GOGO_ENV: ${{needs.set_envs.outputs.GOGO_ENV}}
        run: |
          echo ${{needs.set_envs.outputs.GOGO_ENV}}
          echo $GOGO_ENV

  # call_repo:
  #   runs-on: self-hosted
  #   needs: set_envs
  #   steps:
  #     - name: call workflow
  #       if: github.event.pull_request.base.ref == 'master' || github.event.pull_request.base.ref == 'release'
  #       uses: actions/github-script@v6
  #       with:
  #         github-token: ${{ secrets.ACCESS_TOKEN }}
  #         script: |
  #           await github.rest.actions.createWorkflowDispatch({
  #             owner: 'wei-lun-huang',
  #             repo: 'EC2',
  #             workflow_id: 'action.yml',
  #             ref: 'release',
  #             inputs: {
  #               env: ${{needs.set_envs.outputs.env}},
  #             },
  #           })
   # inputs: {
              #   env: ${{ steps.set_env.outputs.env }},
              # },
  call_repo:
    runs-on: self-hosted
    steps:
      - name: Check Pull Request Base Branch
        id: branch_check
        run: echo "Base branch is ${{ github.event.pull_request.base.ref }}"

      - name: Determine Env Variable
        id: set_env
        run: |
          BASE_REF=${{ github.event.pull_request.base.ref }}
          BASE_REF=${BASE_REF:-default_value}
          if [[ $BASE_REF == 'release' ]]; then
            echo "env=staging" >> "$GITHUB_OUTPUT"
          elif [[ $BASE_REF == 'master' ]]; then
            echo "env=production" >> "$GITHUB_OUTPUT"
          else
            echo "env=develop" >> "$GITHUB_OUTPUT"
          fi

      - name: Call Workflow
        uses: actions/github-script@v6
        with:
          github-token: ${{ secrets.ACCESS_TOKEN }}
          script: |
            await github.rest.actions.createWorkflowDispatch({
              owner: 'wei-lun-huang',
              repo: 'EC2',
              workflow_id: 'action.yml',
              ref: 'release',
              inputs: {
                env: staging,
              },
            })
